{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="text-center">
        
            <h1>Обо мне:</h1>
            <h4>Разработчик этого сайта, по совместительству ученик GeekBrains, Калараш Даниил.</h4>
            <h4>Родился и проживаю в городе Кишинёв, Республика Молдова.</h4>
            <h4>Мне 17 лет, я учусь в школе, в 11 классе.</h4>
            <h4>Учу и интересуюсь программированием, пройденным курсом обучения в целом доволен.</h4>
            <h4>Сайт продолжит развитие, и будет дорабатываться и после сдачи дипломной работы.</h4>
        </div>
    </div>

{% endblock %}

