{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,500,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/landing.css' %}">
    
    

    

</head>
<body>

    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Наш магазин скоро откроется!<br>
                    Оставьте ваши пожелания в форме ниже</h1>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                            <div class="form-group">
                                <label>Ваше имя: </label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label>Ваша почта: </label>
                                {{ form.email }}
                            </div>
                            
                                <button type="submit" class="btn btn-primary">Отправить</button>

                        </form>

                        <div class="margin-bottom"></div>
                        
                        <div class="text-center">
                            <a href="/" class="btn btn-danger">Вернуться на главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>